<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="error.dev">
	<meta name="author" content="Afa, Falih">
	<title><%- locals.error.status %> : <%- locals.name + " " + locals.version %></title>
	<link href="/.inspinia/css/bootstrap.min.css" rel="stylesheet">
	<link href="/.inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="/.inspinia/css/animate.css" rel="stylesheet">
	<link href="/.inspinia/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
	<h2 style="font-size: 80px;">
		<%- locals.error.status %>
	</h2>
	<h4 class="font-bold"><%- locals.error.message %></h4>
	<a href="/" class="btn btn-sm btn-primary">Home</a>
</div>
<div class="row">
	<div class="col-lg-12">
		<% if (locals.error.trace) { %>
		<pre style="margin: 20px 50px; font-size: 10px;"><%- locals.error.trace %></pre>
		<% } %>
	</div>
</div>
<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
